@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Roboto&display=swap');

body {
    font: 14px/20px 'Exo 2', Verdana, Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.90);
    background-image: url(../img/bg.png);
    margin: 0;
    padding: 0;
    color: #000;
}

dl,
ol,
ul {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    padding-right: 15px;.
    padding-left: 15px;
}

a,
a:focus,
a:active,
a:link,
a:visited {
    color: #b87e36;
    text-decoration: none;
    transition: all 600ms;
}

a:hover {
    color: #e99124;
    transition: all 150ms;
}

a img {
    border: none;
}

/* CONTAINER */

#container {
    width: 100%;
    max-width: 90%;
    min-width: auto;
    margin: 0 auto;
}

/* LOGO */

#logo {
    height: 200px;
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid #2c2c2c;
    border-radius: 6px;
    background: url(../img/logo.jpg) no-repeat center center;
    background-size: cover;
    box-shadow: 0 0 4px 0 #000;
    transform-style: preserve-3d;
    cursor: default;
}

#logo h1,
#logo h2 {
    font-size: 24px;
    font-family: 'Days One';
    top: 15px;
    left: 20px;
    position: absolute;
    color: rgba(0, 0, 0, 0.15);
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    letter-spacing: 4px;
    line-height: 1.2em;
    word-break: break-all;
    animation: logo-frame 2s linear infinite;
}

#logo h2 {
    font-size: 16px;
    top: 44px;
    left: 21px;
}

/* USER-BAR */

#user-bar {
    padding: 4px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.2);
    text-align: left;
    height: 25px;
}

#user-bar a,
#user-bar a:focus,
#user-bar a:active,
#user-bar a:link,
#user-bar a:visited {
    color: rgba(184, 126, 54, 0.7);
}

#user-bar a:hover {
    color: rgba(230, 144, 36, 0.7);
}

#user-bar.hidden-logo {
    margin: 15px 0 2px 0;
}

#user-bar .buttons {
    float: right;
}

#user-bar .current-user {
    float: left;
}

#user-bar .login-as {
    color: rgba(255, 255, 255, 0.4);
}

#user-bar .expired-time {
    color: rgba(219, 255, 173, 0.3);
}

#user-bar .spacer {
    padding: 0 10px 0 10px;
}

/* NAVIGATION */

#navigation {
    font-size: 15px;
}

#navigation,
#files-line {
    margin: 15px 0 2px 0;
    padding: 4px 10px 4px 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid #2c2c2c;
    border-radius: 6px;
    box-shadow: 0 0 4px 0 #000;
}

#navigation.nav-hide {
    display: none;
}

#navigation span {
    color: #9d9d9d;
}

#navigation a.last {
    color: #95ca5b;
}

#navigation a.last:hover {
    color: #a7e565;
}

/* NAVIGATION-FOOTER */

#navigation-footer {
    font-size: 12px;
    margin: 0 4px 18px 4px;
    text-align: right;
}

#navigation-footer .fb-cat-share {
}

/* FILES-LINE */

#files-line {
    margin: 15px 0 25px 0;
}

/* FOOTER */

#footer {
    text-align: center;
    color: rgba(255, 255, 255, 0.2);
    font-size: 12px;
    padding: 20px 10px 150px 10px;
    cursor: default;
}

#footer p {
    line-height: 1em;
    text-shadow: 0 0 4px #000;
    display: none;
}

#footer p.copy {
    color: #5d5646;
}

#footer .copy-author {
    color: #b49a60;
}

#footer .version-offline {
    color: #b46060;
}

#footer .version-online {
    color: #60b461;
}

#footer .version-gallery {
    color: #7e60b4;
}

#footer .help-icon {
    width: 16px;
    height: 16px;
    background: url(../img/help-icon.png) no-repeat;
    position: absolute;
    opacity: 0.5;
    transition: all 800ms;
}

#footer .help-icon:hover {
    opacity: 0.8;
    transition: all 250ms;
}

/* CONTENT */

#content {
    padding: 0;
    text-align: center;
}

/* CATEGORIES */

#categories {
    margin-bottom: 15px;
}

/* FILES */

#files-line {
    color: #b49a60;
    letter-spacing: 1px;
    animation: files-line-frame 1s linear infinite;
    cursor: default;
}

#files {
}

/* TOOLTIP */

#tooltip {
    padding: 6px;
    margin-top: 5px;
    border: 1px solid #666;
    display: none;
    background: #000;
    color: #fff;
    font-size: 12px;
    text-align: left;
    position: absolute;
    z-index: 1001;
    opacity: 0.9;
    font-family: verdana, "sans-serif";
}

.tt-new {
    color: #a50000;
    font-weight: bold;
    letter-spacing: 1px;
    animation: pulse-frame 1.25s infinite;
}

.tt-value {
    color: #eadd91;
}

/* NOTIFY */

.ntf-title {
    color: #b49a60;
    cursor: default;
}

/* ELEMENTS */

.elem,
.elem *,
.elem-dir,
.elem-dir * {
    box-sizing: border-box;
    margin: 0 !important;
}

.elem,
.elem-dir {
    display: inline-block;
    width: 220px;
    border: 1px solid #000;
    border-radius: 6px;
    background: url(../img/loading/1.gif) no-repeat center center;
    background-attachment: local;
    background-size: cover;
    padding: 0;
    margin: 1px 4px 3px 4px !important;
    position: relative;
    height: auto;
    overflow: hidden;
    background-clip: padding-box;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.6);
    transition: all 800ms;
}

.elem-dir {
    margin: 2px 6px 8px 6px !important;
}

.elem-dir:visited,
.elem-dir:link,
.elem-dir:focus,
.elem-dir:active,
.elem-dir:hover,
.elem:visited,
.elem:link,
.elem:focus,
.elem:active,
.elem:hover {
    color: transparent;
}

.elem-dir.locked {
    box-shadow: 0 0 6px 2px rgba(171, 0, 255, 0.4);
}

.elem-dir span.new,
.elem span.new {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 32px;
    left: 7px;
    z-index: 1;
    background: url(../img/new.png) no-repeat center center;
    background-size: contain;
    border-radius: 50px;
    cursor: default;
    box-shadow: 0 0 4px 1px #000;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 800ms;
}

.elem span.new,
.elem-dir span.new-no-head {
    top: 8px;
}

.elem span.video-flag {
    position: absolute;
    width: 26px;
    height: 26px;
    bottom: 0;
    left: 7px;
    z-index: 1;
    background: url(../img/video-icon.png) no-repeat center center;
    background-size: contain;
    cursor: default;
    transition: all 800ms;
}

.elem span.grade {
    position: absolute;
    top: -5px;
    z-index: 1;
    right: 0;
    font: normal 22px 'Days One';
    color: #fff;
    padding: 8px;
    cursor: default;
    text-shadow: 0 0 5px #000;
}

.elem span.open-link {
    position: absolute;
    bottom: -10px;
    z-index: 2;
    right: 0;
    font: normal 22px 'Days One';
    color: rgba(255, 255, 255, 0.2);
    padding: 8px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
    transition: all 800ms;
}

.elem span.open-link:hover {
    color: rgba(225, 127, 0, 0.9);
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
    transform: scale(1.5);
    transition: all 250ms;
}

.elem.file-not-exists {
    box-shadow: 0 0 6px 2px rgba(255, 0, 0, 0.6);
}

.elem .thumb,
.elem-dir .dir {
    display: block;
    cursor: pointer;
    height: auto;
    padding-bottom: 70%;
    background-size: cover;
    background-position: center center;
    transform-origin: center center;
    filter: brightness(80%);
    box-shadow: inset 0 0 3px 0 #000;
    transition: all 800ms, filter 1.5s ease-in-out;
}

.elem-dir .dir.dir-static {
    background: url(../img/category/3.png) no-repeat center -10px;
    background-size: contain;
    background-color: #000;
    filter: brightness(80%);
}

.elem-dir .dir.dir-preview {
    filter: brightness(80%);
}

.elem .thumb:hover {
    filter: brightness(100%);
    transform: scale(1.1);
    transition: all 500ms;
}

.elem-dir .dir:hover {
    filter: brightness(100%);
    transition: all 500ms;
}

.elem:hover .title {
    opacity: 1 !important;
    visibility: visible !important;
    transition: all 300ms;
}

#content .title-static,
.elem-dir .head {
    opacity: 1 !important;
    visibility: visible !important;
}

#content .title,
.elem-dir .head {
    opacity: 0;
    visibility: hidden;
    display: flex;
    color: #e5e5e5;
    position: absolute;
    align-items: center;
    border-top: 1px solid #000;
    width: 100%;
    min-height: 25px;
    padding: 2px 6px 2px 6px;
    text-align: left;
    font-size: 13px;
    bottom: 0;
    z-index: 1;
    text-shadow: 0 0 4px #000;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 600ms;
}

.elem-dir .head {
    color: #999;
    border: none;
    border-bottom: 1px solid #000;
    position: inherit;
    justify-content: left;
    cursor: default;
}

.elem-dir .head span.detail {
    position: absolute;
    right: 4px;
    letter-spacing: 3px;
    color: #666;
    display: inline-flex;
}

.elem-dir .head span.detail span.active:nth-child(1) {
    color: #8bca80;
}

.elem-dir .head span.detail span.active:nth-child(2) {
    color: #d7c5a6;
}

.elem-dir .head span.detail span.active:nth-child(3) {
    color: #d3a7b5;
}

.elem-dir .title {
    color: #d7c5a6 !important;
    opacity: 1 !important;
    visibility: visible !important;
    font-size: 14px !important;
}

#content .empty {
    color: #b8a366;
    margin: 35px 0 25px 0;
}

#content .empty .ascii {
    font-size: 20px;
    font-family: consolas, monospace, "courier new", arial;
    color: #4d4d4d;
}

/* OVERRIDES */

.lcl_fade_oc.lcl_pre_show #lcl_overlay,
.lcl_fade_oc.lcl_pre_show #lcl_window,
.lcl_fade_oc.lcl_is_closing #lcl_overlay,
.lcl_fade_oc.lcl_is_closing #lcl_window {
    opacity: 0 !important;
}

.lcl_fade_oc.lcl_is_closing #lcl_overlay {
    -webkit-transition-delay: .15s !important;
    transition-delay: .15s !important;
}

/* MEDIA */

@media screen and (max-width:1200px) {
    .elem,
    .elem-dir {
        width: 250px;
    }
    .elem-dir span.new,
    .elem span.new {
        width: 28px;
        height: 28px;
    }
    .elem span.video-flag {
        width: 28px;
        height: 28px;
    }
}

@media screen and (max-width:992px) {
    .elem,
    .elem-dir {
        width: 270px;
    }
    .elem-dir span.new,
    .elem span.new {
        width: 32px;
        height: 32px;
    }
    .elem span.video-flag {
        width: 32px;
        height: 32px;
    }
}

@media screen and (max-width:692px) {
    .elem .title {
        opacity: 1;
        visibility: visible;
    }
    .elem,
    .elem-dir {
        width: 99%;
    }
    .elem-dir span.new,
    .elem span.new {
        top: 38px;
        left: 15px;
        width: 10vw;
        height: 10vw;
    }
    .elem span.video-flag {
        width: 10vw;
        height: 10vw;
    }
    .elem span.grade {
        font-size: 6vw;
    }
    .elem span.open-link {
        display: none;
    }
    .elem span.new,
    .elem-dir span.new-no-head {
        top: 12px;
    }
    #navigation-footer .help-icon {
        display: none;
    }
}

@keyframes pulse-frame {
    0% {
        color: #e00;
        text-shadow: 0 0 8px #e00;
    }
	110% {
        color: #000;
    }
}

@keyframes logo-frame {
    0%, 100% {
        color: rgba(0, 0, 0, 0.15);
    }
    50% {
        color: rgba(0, 0, 0, 0.30);
    }
}

@keyframes files-line-frame {
    0%, 100% {
        color: #b49a60;
        letter-spacing: 1px;
    }
    50% {
        color: #b28e60;
        letter-spacing: 1.5px;
    }
}
