#login-form {
	display: block;
    text-align: center;
	margin-top: 50px;
    color: #999;
}

#login-form h1 {
    margin-bottom: 30px;
    padding: 0;
    letter-spacing: 1px;
}

#login-form label {
    display: block;
}

#login-form .field {
    margin: 8px 0 8px 0;
}

#login-form a {
    display: block;
    margin-top: 20px;
}

#login-form input {
	overflow: visible;
	width: 300px;
	height: 30px;
	background-color: rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(0, 0, 0, 0.6);
	outline: none;
	color: #76653f;
	padding: 6px;
    box-sizing: content-box;
    text-shadow: 0 0 4px #000;
    transition: all 800ms;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Days One', Verdana, Arial, sans-serif;
    border-radius: 6px;
    box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

#login-form input:hover,
#login-form input:focus {
	background-color: rgba(0, 0, 0, 0.3);
	border: 1px solid rgba(0, 0, 0, 0.7);
    transition: all 150ms;
}

#login-form input:focus {
	width: 320px;
    transition: all 150ms;
}

#login-form input::placeholder {
    color: #999;
}

#login-form input.submit-off {
    background-color: rgba(0, 0, 0, 0.2) !important;
    color: #333 !important;
    pointer-events: none;
}

#login-form input[type="password"] {
    font-size: 16px;
}

#login-form input[type="submit"] {
    font-weight: bold;
    color: #999;
    background-color: rgba(0, 38, 0, 0.2);
    margin-top: 20px;
}

#login-form input[type="submit"]:hover {
    color: #60b461;
    cursor: pointer;
}

#login-form .err-msg {
    color: #a53232;
    padding-top: 50px;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
}

@media screen and (max-width:420px) {
    #login-form input {
        width: 280px;
    }
    #login-form input:focus {
        width: 300px;
    }
}